<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffb202;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img  class="images" src="SL_Logo_NoBkg.png" width="100" height="75"/>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/home" style="color:#00009D; font-family: Georgia, serif">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/map" style="color:#00009D; font-family: Georgia, serif;">Explore</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class=" nav navbar-nav ml-auto">
              
                <div *ngIf="this._userService.username == null, else elseBlock">
                  <li routerLinkActive="active">
                    <a routerLink="/login" style="color:#00009D; font-family: Georgia, serif;">Login</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/about" style="color:#00009D; font-family: Georgia, serif">About</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/contact" style="color:#00009D; font-family: Georgia, serif;">Contact Us</a>
                  </li>
                </div>
                <ng-template #elseBlock>
                  <li routerLinkActive="active">
                    <a routerLink="/bookmarks" style="color:#00009D; font-family: Georgia, serif;">Bookmarks</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/about" style="color:#00009D; font-family: Georgia, serif">About</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/contact" style="color:#00009D; font-family: Georgia, serif;">Contact Us</a>
                  </li>
                  <li routerLinkActive="active">
                    <a style="color:#00009D; font-family: Georgia, serif;" (click)="logout()">Sign Out</a>
                  </li>
                </ng-template>
             
            </ul>
          </div>
    </div>
</nav>