/*
Created By:
Last Edited By:
Date Created:
Date Last Edited:
Description:
*/


.navbar {
    src: url(SL_Logo_NoBkg.png);
    font-weight: normal;
    font-size: large;
    padding: 0;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--safelivingcolor1);
    border-radius: 0px;
}

.navbar:after{
    background-color: #ffffff;
    color: white
}

.navbar-button{
    color: var(--textdefaultcolor)
}

.navbar-button:hover{
    filter:brightness(85%);
    color: var(--texthovercolor);
}

.navbar-button:focus{
    filter:brightness(85%);
    color: var(--textdefaultcolor);
}

