<!--
Created By:
Last Edited By:
Date Created:
Date Last Edited:
Description:
-->


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- JavaScript Error Handler -->
    <script src="global-error.js"></script>
    

</head>

 <!-- Create the Navbar -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid w-100 d-flex">
        
        
      <div class="navbar-header pb-1 pt-1 m-0 m-auto pr-3">
          <img  class="images" src="SL_Logo_NoBkg.png" width=110vw height=100vh/>
      </div>

        <!-- Left Side Tabs-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mb-0 navbar-expand d-xl-flex mr-4 pl-4 pr-1 position-relative gap-5">
                <li class = "nav-item" routerLinkActive="active">
                  <a routerLink="/home"  class = "navbar-button btn-outline-light bg-gradient bg-primary">Home</a>
                </li>

                <li class = "nav-item" routerLinkActive="active">
                  <a routerLink="/map"  class = "navbar-button btn-outline-light bg-gradient bg-primary">Explore</a>
                </li>

                <li routerLinkActive="active">
                  <a routerLink="/about" class = "navbar-button btn-outline-light bg-gradient bg-primary">About</a>
                </li>
                            
                <li routerLinkActive="active">
                  <a routerLink="/contact" class = "navbar-button btn-outline-light bg-gradient bg-primary">Contact Us</a>
                </li>
            </ul>
        </div>

        <!-- Right Side Tabs-->
        <div class="collapse navbar-collapse">
            <ul class=" nav navbar-nav mb-0 d-xl-flex gap-5 m-0 pl-1 ml-5 pr-0 mr-0 position-relative">
                <!-- Navbar Tabs (not logged in)-->
                <ng-template [ngIf]="this._userService.username === null">
                  <li>
                    <button type="button" class = "navbar-button btn-outline-light bg-gradient bg-primary" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Login</button>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/create" class = "navbar-button btn-outline-light bg-gradient bg-primary">Register</a>
                  </li>
                </ng-template>
                <ng-template [ngIf]="this._userService.username != null">
                  <li routerLinkActive="active">
                    <a routerLink="/bookmarks" class = "navbar-button btn-outline-light bg-gradient bg-primary">Bookmarks</a>
                  </li>
                </ng-template>
                <ng-template [ngIf]="this._userService.username != null">
                  <li routerLinkActive="active">
                    <a  (click)="logout()" class = "navbar-button btn-outline-light bg-gradient bg-primary">Sign Out</a>
                  </li>
                </ng-template>


             
            </ul>
          </div>
    </div>
</nav>

<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>


<script>
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>