/*
Created By:
Last Edited By:
Date Created:
Date Last Edited:
Description:
*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400&display=swap');

.footer-styles{
    background-color: #fa8413;
    height:4%;
    font-family: 'Alegreya', sans-serif;
    font-size: large;
    vertical-align: middle;
    text-align:center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: white 8px ridge;
    border-left: white 1px double;
    border-right: white 1px double;
    margin-right: 30vw;
    margin-left: 30vw;
    padding-top: .3vh;
}