<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Self Living - About</title>
</head>
<style>
    h1 {
        text-align: center;
        font-weight: bold; 
        line-height: 3;
    }
    h2 { text-align: center; }
</style>

<h1 class="display-4"><strong>What is Safe Living?</strong></h1>
<p style="text-align:center;margin-left: 200px; margin-right: 200px;" > Safe Living is an all-in-one tool designed for perspective home buyers to find living spaces meeting all their needs. The Safe Living website incorporates information on crime, cost of living, and nearby amenities to give perspective buyers a good sense of living conditions within a community so they can properly assess their decision to buy or rent within an area.</p>
<h2>Features</h2>
<p style="text-align:center;">Crime Information based on location</p>
<p style="text-align:center;">Real-Estate Cost Information</p>
<p style="text-align:center;">Cost-of-Living Information</p>
<p style="text-align:center;">Local Amenities Information</p>
