<!--
Created By:
Last Edited By:
Date Created:
Date Last Edited:
Description:
-->

  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JavaScript Error Handler -->
  <script src="global-error.js"></script>

  <title>Safe Living - About</title>

  <!-- Create About Us Section -->
  <div class="jumbotron vertical-center body2 rounded-pill bg-black">
    <h1 style="font-size: 54px; margin-top: 5%"><strong>What is Safe Living?</strong></h1>
    <p class="mb-5 bg-primary opacity-80 rounded-pill p-3 text-border-default" style="text-align:center; font-size: 20px;"> Safe Living is an all-in-one tool designed for those looking to move to find safe cities. The Safe Living website incorporates information on crime from the FBI to rank cities' safety!</p>
    
    <h2 style="font-size: 54px;"><strong>How is the Safe Living Score calculated?</strong></h2>
    <p class="mb-5 bg-primary opacity-80 rounded-pill p-3 text-border-default" style="text-align:center; font-size: 20px;"> The "Safe Living Score" is our safety score for a city! The score is a rank of the safety of each city compared to the entire United States. For example, a Safe Living Score of 50 means the city is safer than 50% of the cities in the United States.</p>

    <h2 style="font-size: 54px;"><strong>Can I get a Safe Living Score for cities outside of the US?</strong></h2>
    <p class="bg-primary opacity-80 rounded-pill p-3 text-border-default" style="text-align:center; font-size: 20px;"> Unfortunately, our Safe Living Score is only available for cities in the United States. The Safe Living Score works for every city with valid crime data in the United States!</p>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
