<body>
<div class="search-container">
    <input type="text" placeholder="Search [City, State]" name="'search'" id = "userInput" #userInput> <!-- id = "userInput" -->
    <button class="btn btn-primary fa fa-search" (click)="sendInput(userInput.value)" type="button">Find</button> <!-- onclick = 'sendInput()' -->
    <button *ngIf="inputAddr != null" class="btn btn-primary fa fa-search" (click)="addToInput(userInput.value)" type="button">Add to Search</button>
</div>

<!-- <div class="search-container">
  <button class="btn btn-primary" (click)="threeAddressTest()">Test for Three Addresses at a Time</button>
</div> -->
<!-- <ng-template *ngIf="this._userService.username != null"> -->
  <ng-template [ngIf]="!this.bookmarked">
    <div>
      <button class="btn btn-success" (click)="addBookmark()">
        Add Bookmark
      </button>
    </div>
  </ng-template>
  <ng-template [ngIf]="this.bookmarked">
    <div>
      <button class="btn btn-danger" (click)="delBookmark()">
        Remove Bookmark
      </button>
    </div>
  </ng-template>
<!-- </ng-template> -->

<!--
<div class="search-container">
  <button class="btn btn-primary" (click)="reveal()">Show Me in Console</button>
</div>-->

<div class = left>
<agm-map style="width: 500px; height: 500px" [latitude] = "39.8283" [longitude] = "-98.5795" [zoom] = "3">
    <agm-marker *ngFor="let location of locations; let i=index" [latitude]="location.lat" [longitude]="location.long"
      [label]="location.labelOptions">
      <agm-info-window>
        <pre>
        {{locations[i].city}}, {{locations[i].state}}
        CrimeScore: {{locations[i].crimeScore}}
      </pre>
          
      </agm-info-window>

    </agm-marker>
    <!--<agm-circle [radius]="radius" [fillColor]="'red'"></agm-circle>-->

    <agm-polygon [paths]="location.testPaths" [clickable]="false" [fillOpacity]=0.1 *ngFor="let location of locations; let i=index" ></agm-polygon>
    <!--<agm-polygon [paths]="locations[0].testPaths" [clickable]="false"></agm-polygon> -->
    <!-- <agm-polygon [paths]="samplePaths2" [clickable]="false"></agm-polygon> -->
    <!-- <agm-data-layer [geoJson]="testGeoJson"></agm-data-layer> -->


</agm-map>

</div>


<div class = right>
  <div *ngFor="let location of locations; let i=index" class = "jumbotron">
    <div *ngIf="inputAddr != null">
      <h2>
        <b>{{location.city}}, {{location.state}}</b>
      </h2>
      <h2>
        <br>The safe living score for this area is: <b>{{location.crimeScore}}</b>
      </h2>
      <p style = "font-size: medium"> 
        What does the safe living score mean?
        <br>We created the safe living score based off of crime in an area!
        We factor in the crime per capita of a town compared to the national crime per capita.
        A higher score is better!
      </p>
      <h2 style="text-align:center">
        Cost of Living Information:
      </h2>
      <ul style="text-align:left">
        <li>Average Monthly Net Salary (After Tax): <b>${{location.costOfLiving.salary}}</b></li>
        <li>Average Apartment Rent Per Month Range: <b>${{location.costOfLiving.apartmentLow}} - ${{location.costOfLiving.apartmentHigh}}</b></li>
        <li>Gasoline Per Gallon: <b>${{location.costOfLiving.gas}}</b></li>
      </ul>
      <div *ngIf="inputAddr != null">
        <br><button class="btn btn-primary" (click)="zillowRoute(i)">Find Houses In {{location.city}}</button>
        <!--<a *ngFor="let link of zillowLinks; let i = index" href = {{link}}>[See houses in {{cityNameArray[i]}}]</a>-->
        <p style = "font-size: small">*Will take you off site to Zillow.com*</p>
      </div>
      <!--
      <ul>
        <li *ngFor="let city of cityNameArray; let i=index">{{city}}: {{crimeScoreArray[i]}}</li>
      </ul>
      -->
    
     <!--<h1>
        County-wide Economic Stats
      </h1>
      <p>(2019 most recent data)</p>
      <ul>
        <li>Median Income: ${{censusMedIncome}}</li>
        <li>{{censusPovCount}} people in poverty</li>
        <li>{{censusPovRate}}% poverty rate</li>
    </ul>-->
    </div>
  </div>
</div>

<!--
<div>
  <h1>
    Yearly Weather Statistics for {{county}} County, {{state}}
  </h1>
  <ul>
    <li>Average Mean Temperature (F): {{avgTemp}}   </li>
    <li>Average High Temperture (F): {{maxTemp}}        </li>
    <li>Average Low Temperature (F): {{minTemp}}        </li>
    <li>Average Wind Speed (mph): {{avgWind}}             </li>
    <li>Average Precipitation Totals (in): {{avgPrecip}} </li>
</ul>
</div>
-->

<!--  <agm-drawing-manager #drawing="agmDrawingManager" (circleComplete)="circleAdded($event)" [drawingMode]="'circle'" [circleOptions]="{fillColor:'red', radius: 150}">
</agm-drawing-manager> -->

<!-- The following tag displays the data from the crime api on the maps page, but will need an ori routed to the map component as a query parameter -->
<!-- <app-crimeapi></app-crimeapi> -->
<!--(circleComplete)="circleAdded($event)" before [drawingmode] -->
</body>