<p>map works!</p>

<div class="search-container">
    <input type="text" placeholder="Enter Address" name="search" id = "userInput" #userInput> <!-- id = "userInput" -->
    <button class="btn btn-primary fa fa-search" (click)="sendInput(userInput.value)" type="button"></button> <!-- onclick = 'sendInput()' -->
</div>
<div style = "text-align:center">
  <h1>
    {{inputAddr}}
  </h1>
</div>

<agm-map style="width: 500px; height: 500px" [latitude]="lat" [longitude]="long">
    <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
</agm-map>
<!-- --><agm-drawing-manager #drawing="agmDrawingManager" (circleComplete)="circleAdded($event)" [drawingMode]="'circle'" [circleOptions]="{fillColor:'red', radius: 150}">
</agm-drawing-manager>

<!--(circleComplete)="circleAdded($event)" before [drawingmode] -->