body{
    position: relative;
}

.green {
  color: green;
}

.search-bar-style{
  width: 35vw;
  align-content: center
}

.map-style{
  width: 35vw;
  height: 35vw;
}

.red {
  color: rgb(190, 5, 5);
}

.center-text {
  text-align: center;
}

.jumbotron {
    font-size: small;
    width: 100%;
    height: 150%;
}

.right {
    position: absolute;
    right: 2%;
    width: 60%;
    height: 88vh;
    overflow-y: scroll;
  }

  .left {
    position: absolute;
    left: 2%;
    
  }