<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="jumbotron h-100">
    <h1 class="display-4"><strong>Contact Us</strong></h1>
    <p class="lead">Use the form below to contact us with any questions, suggestions, or concerns you might have and a customer service representative will contact you with a response as soon as possible (response times may vary).</p>
    <hr class="my-4">
    <form class="form-inline my-2 my-lg-0 justify-content-center">
        <div class="column justify-content-center h-100">

        <div class="row justify-content-center mt-3">
            <label for="exampleInputEmail1">Email Address</label>
        </div>
        <div class="row justify-content-center">
            <input type="email" class="form-check mt-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="min-width:100%">
        </div>
        <div class="row justify-content-center mt-1">
            <small id="emailHelp" class="form-text text-muted" class="text-center"> We'll never share your email with anyone else.</small>
        </div>
        <div class="row justify-content-center mt-3">
            <label for="exampleInputPassword1">Password</label>
        </div>
        <div class="row justify-content-center mt-1">
            <input type="password" class="form-check" id="exampleInputPassword1" placeholder="Password" style="min-width:100%">
        </div>
        <div class="row justify-content-center mt-3">
            <label for="exampleFormControlTextarea1" class="text-center">Message</label>
        </div>
        <div class="row justify-content-center mt-1">
            <textarea class="form-check" id="exampleFormControlTextarea1" rows="10" style="min-width:100%"></textarea>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary mt-3" style="min-width:100%">Submit</button>
        </div>
        </div>
    </form>
</div>