/*
Created By:
Last Edited By:
Date Created:
Date Last Edited:
Description:
*/


.jumbotron {
  background-image: url(neighborhood-2.jpg);
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: black 0px 0px 15px;
  font-family: Georgia, serif;
  font-weight: bold;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  background-size: cover;
}

.vertical-center {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100vh; /* These two lines are counted as one :-)       */

min-height: calc(100% - 75px);  /*  */
min-height: calc(100vh - 100px); /* */
}

.btn {
  background: rgb(2,2,68);
background: -moz-linear-gradient(90deg, rgba(2,2,68,1) 0%, rgba(0,0,157,1) 50%, rgba(2,2,68,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,2,68,1) 0%, rgba(0,0,157,1) 50%, rgba(2,2,68,1) 100%);
background: linear-gradient(90deg, rgba(2,2,68,1) 0%, rgba(0,0,157,1) 50%, rgba(2,2,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020244",endColorstr="#020244",GradientType=1);      
text-align: center;
  text-shadow: black 0px 0px 15px;
  font-family: Georgia, serif;
  font-weight: bold;
  color: white;
  position: relative;
  border:  0;
  background-size: cover;
}
