    <!--
Created By:
Last Edited By:
Date Created:
Date Last Edited:
Description:
-->
    
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Safe Living - Contact Us</title>

    <!-- JavaScript Error Handler -->
    <script src="global-error.js"></script>

    <!-- Create Contact Form -->
    <div class="jumbotron vertical-center">
    
    <form class="form-inline  justify-content-center">
    <div class="column justify-content-center h-100">
        <div class="row justify-content-center" style="margin-right: 30%; margin-left: 30%; margin-bottom: 2%;">
          <h1 style="font-size: 64px;"><strong>Contact Us</strong></h1>
        </div>
      
    <div class="row justify-content-center" style="margin-right: 30%; margin-left: 30%; margin-bottom: 2%">
      <p>Use the form below to contact us with any questions, suggestions, or concerns you might have and a customer service representative will contact you with a response as soon as possible (response times may vary).</p>
    </div>
      <div class="row justify-content-center" style="margin-right: 25%; margin-left: 25%;">
        <label for="exampleInputEmail1">Email Address</label>
        </div>
    <div class="row justify-content-center" style="margin-right: 40%; margin-left: 40%">
        <input type="email" class="form-check mt-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold; color:black;">
    </div>

    <div class="row justify-content-center mt-1" style="margin-bottom: 2%;">
      <small id="emailHelp" class="text-center"> We'll never share your email with anyone else.</small>
    </div>

    <div class="row justify-content-center mt-3">
      <label for="exampleInputName1">Name</label>
    </div>
     <div class="row justify-content-center mt-1" style="margin-right: 40%; margin-left: 40%">
        <input type="name" class="form-check" id="exampleInputName1" placeholder="Enter Name" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold; margin-bottom: 2%; color:black;">
     </div>
    <div class="row justify-content-center mt-3">
        <label for="exampleFormControlTextarea1" class="text-center">Message</label>
    </div>
    <div class="row justify-content-center mt-1" style="margin-right: 35%; margin-left: 35%;">
     <textarea class="form-check" id="exampleFormControlTextarea1" rows="8" placeholder="Click here to begin typing your message..." style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold; margin-bottom: 2%; color:black;"></textarea>
    </div>
    <div class="row justify-content-center" style="margin-right: 40%; margin-left: 40%;">
        <button type="submit" class="btn mt-3" style="min-width:100%; background-color: #FFD580;">Submit</button>
    </div>
    
</div>
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



