 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <title>Safe Living - Login</title>

 <!-- https://mdbootstrap.com/docs/standard/extended/login/ -->
 <div class="jumbotron vertical-center">
   <div class="column justify-content-center h-100">

     <div class="row justify-content-center mb-1" style="margin-right: 10%; margin-left: 10%;">

       <h1 class="mt-1 mb-4 pb-1" style="color: #FFF; font-weight: bold; font-size: 64px; font-family: Georgia, serif">Welcome to Safe Living</h1>
     </div>

     <form>
       <p class="mb-4" style="color: #FFF; font-weight: bold; font-size: 24px; font-family: Georgia, serif;">Create an Account</p>

       <!-- <div class="row justify-content-center mb-5" style="margin-right: 40%; margin-left: 40%;">
         <label class="form-label" for="form2Example11" style="color: #FFF; font-weight: bold; font-size: 20px; font-family: Georgia, serif">First Name</label>
         <input type="Username" class="form-check mt-1" aria-describedby="username" placeholder="Enter First Name" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold;">
       </div> -->

       <!-- <div class="row justify-content-center mb-5" style="margin-right: 40%; margin-left: 40%;">
         <label class="form-label" for="form2Example11" style="color: #FFF; font-weight: bold; font-size: 20px; font-family: Georgia, serif">Last Name</label>
         <input type="Username" class="form-check mt-1" aria-describedby="username" placeholder="Enter Last Name" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold;">
       </div> -->

       <div class="row justify-content-center mb-5" style="margin-right: 40%; margin-left: 40%;">
         <label class="form-label" for="form2Example11" style="color: #FFF; font-weight: bold; font-size: 20px; font-family: Georgia, serif">Email Address</label>
         <input type="Username" class="form-check mt-1" aria-describedby="username" placeholder="Enter Email Address" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold; color: black;"  id = "userEmail" #userEmail>
       </div>

       <!-- <div class="row justify-content-center mb-5" style="margin-right: 40%; margin-left: 40%;">
         <label class="form-label" for="form2Example11" style="color: #FFF; font-weight: bold; font-size: 20px; font-family: Georgia, serif">Confirm Email Address</label>
         <input type="Username" class="form-check mt-1" aria-describedby="username" placeholder="Confirm Email Address" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold;">
       </div> -->

       <div class="row justify-content-center mb-5" style="margin-right: 40%; margin-left: 40%;">
         <label class="form-label" for="form2Example11" style="color: #FFF; font-weight: bold; font-size: 20px; font-family: Georgia, serif">Username</label>
         <input type="Username" class="form-check mt-1" aria-describedby="username" placeholder="Enter Username" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold; color: black;" id="userUsername" #userUsername>
       </div>

       <div class="row justify-content-center mb-5" style="margin-right: 40%; margin-left: 40%;">
         <label class="form-label" for="form2Example22" style="color: #FFF; font-weight: bold; font-size: 20px; font-family: Georgia, serif; margin-right: 40%; margin-left: 40%" >Password</label>
         <input type="password" class="form-check mt-1" aria-describedby="password" placeholder="Enter Password" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold; color: black;" id="userPassword" #userPassword>
       </div>

       <!-- <div class="row justify-content-center mb-5" style="margin-right: 40%; margin-left: 40%;">
         <label class="form-label" for="form2Example22" style="color: #FFF; font-weight: bold; font-size: 20px; font-family: Georgia, serif; margin-right: 40%; margin-left: 40%">Confirm Password</label>
         <input type="form-check" class="form-check mt-1" aria-describedby="password" placeholder="Confirm Password" style="min-width:100%; font-family:  Georgia, serif; font-weight:  bold;">
       </div> -->
       
       <div class="d-flex align-items-center justify-content-center pb-1 mb-2">
         <button type="button" class="btn gradient-custom-2" style="margin-left: 30px; font-weight: bold; color: white; font-size: 16px; font-family: Georgia, serif" (click)="register(userEmail.value, userUsername.value, userPassword.value)">Create Account</button>
       </div>

     </form>
   </div>
 </div>

 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
