<h1>Crime API Test Page</h1>
<p> Agency with ORI number: {{ori}} from {{fromstr}} to {{tostr}}</p>
<h2>
    Crimes Reported from {{fromstr}} to {{tostr}}:
</h2>
<div class = "row">
    <div class = "column">
          
        <ul>
            <li>Property Crime: {{propertyCrime}}   </li>   
            <li>Violent Crime: {{violentCrime}}     </li>     
            <li>Robbery: {{robbery}}                </li>                
            <li>Rape: {{rape}}                      </li>                      
            <li>Motor Vehicle Theft: {{mvTheft}}    </li>    
            <li>Larceny: {{larceny}}                </li>                
            <li>Human Trafficking: {{humanTraff}}   </li>   
            <li>Homicide: {{homicide}}              </li>              
            <li>Burglary: {{burglary}}              </li>              
            <li>Arson: {{arson}}                    </li>                    
            <li>Aggravated Assault: {{aggrAss}}     </li>
        </ul> 
    </div>
    <!--
    <div class = "column">
       <p>|  {{pcPercent}}% of {{nationalCrimeData[0]}}, the national amount</p> 
       <p>|  {{vcPercent}}% of {{nationalCrimeData[1]}}, the national amount</p> 
       <p>|  {{robPercent}}% of {{nationalCrimeData[2]}}, the national amount</p>
       <p>|  {{rapePercent}}% of {{nationalCrimeData[3]}}, the national amount</p>
       <p>|  {{mvtPercent}}% of {{nationalCrimeData[4]}}, the national amount</p>
       <p>|  {{larcPercent}}% of {{nationalCrimeData[5]}}, the national amount</p>
       <p>|  {{htPercent}}% of {{nationalCrimeData[6]}}, the national amount</p> 
       <p>|  {{homiPercent}}% of {{nationalCrimeData[7]}}, the national amount</p> 
       <p>|  {{burgPercent}}% of {{nationalCrimeData[8]}}, the national amount</p> 
       <p>|  {{arsonPercent}}% of {{nationalCrimeData[9]}}, the national amount</p> 
       <p>|  {{aaPercent}}% of {{nationalCrimeData[10]}}, the national amount</p>
    </div>
    -->
</div>

 
 
