<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<div class="search-container">
    <input type="text" placeholder="Enter Address" name="search" id = "userInput" #userInput> <!-- id = "userInput" -->
    <button class="btn btn-primary fa fa-search" (click)="sendInput(userInput.value)" type="button"></button> <!-- onclick = 'sendInput()' -->
</div>
<div style = "text-align:center">
  <h1>
    {{ inputAddr}}
  </h1>
</div>
