/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
    border: 0 px !important;
    padding: 0 !important;
    font-family:'Courier New', Courier, monospace;
    background-image: url('./assets/safelivingbackground.png');
    background-size: 1024px 1024px;
    
}
