/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 !important;
    border: 0 px !important;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('./assets/safelivingbackground.png');
    background-size: 1024px 1024px;
    
}

:root{
    --safelivingcolor1: #fa8413;
    --textdefaultcolor: #000000;
    --texthovercolor: #f5f5f5;
    --safelivingcolor2: #fa8413;
}

.body2 {
    padding-top: 70px;
}
