    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Self Living - Home</title>

      <div class="jumbotron h-100 w-100 container-fluid">
        <h1 class="display-4 mb-5"><strong>Safe Living</strong></h1>
        <p class="lead mb-5">A service that helps you find the best and safest place to live.</p>

        <form class="form-inline justify-content-center mb-5">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn my-2 my-sm-0" type="submit">Search »</button>
        </form>
      </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4 mt-4">
              <h2>Search Locations</h2>
              <p>Search for locations anywhere in the United States. Type a state, city, address, or zip code into the search bar to find safe places to live in and around that location </p>
              <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
            </div>
            <div class="col-md-4 mt-4">
              <h2>Customize Filters</h2>
              <p>Our safety specifications are defined by multiple different factors. You have the option to filter results to meet your personal criteria to find the best place that matches your wanted living conditions. </p>
              <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
            </div>
            <div class="col-md-4 mt-4">
              <h2>Support</h2>
              <p>If you have any questions, suggestions, or concerns feel free to reach out to us.</p>
              <p><a class="btn" href="../contact/SL_Contact_Us.html" role="button">Contact Us »</a></p>
            </div>
          </div>

          <hr>

        </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
