   <head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JavaScript Error Handler -->
    <script src="global-error.js"></script>
  </head>
    
<div class = "container-fluid d-flex justify-content-center body2">
  <div class = "row">
    <div class = "col m-5">
      <p> Column </p>
    </div>
    <div class = "col m-5">
      <p> Column </p>
    </div>
    <div class = "col m-5">
      <p> Column </p>
    </div>
  </div>
</div>