    .information {text-align: center;
          justify-content: center;
          margin: auto;
          padding-top: 3%;
          padding-left: auto;
          padding-right: auto;
          padding-bottom: 3%;
          height: auto;
          width: 100%;
          overflow: hidden;
    }

    .jumbotron {
      background-image: url(cityPanorama.png);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      text-shadow: black 0 0 15px;
      font-family: Georgia, serif;
      font-weight: bold;
      margin: 0;
      position: absolute;
      overflow: hidden;
    }

    .search-container {
      background:rgb(255, 255, 255);
      font-size: 12px;
      border-color: rgba(0,0,157,1);
      border-style: ridge;
      box-shadow: black 0 0 15px;
    }

    .display-4{
      font-weight: bold;
      color: white;
      font-size: 64px;
      font-family: Georgia, serif;
      text-shadow: black 0 0 15px;
    }

    .lead {
      font-weight:  bold;
      color: white;
      font-size: 32px;
      font-family: Georgia, serif;
      text-shadow: black 0 0 1px;
    }

    .btn {
      background: rgb(2,2,68);
      background: -moz-linear-gradient(90deg, rgba(2,2,68,1) 0%, rgba(0,0,157,1) 50%, rgba(2,2,68,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(2,2,68,1) 0%, rgba(0,0,157,1) 50%, rgba(2,2,68,1) 100%);
      background: linear-gradient(90deg, rgba(2,2,68,1) 0%, rgba(0,0,157,1) 50%, rgba(2,2,68,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020244",endColorstr="#020244",GradientType=1);
      text-align: center;
      text-shadow: black 0 0 15px;
      font-family: Georgia, serif;
      font-weight: bold;
      color: white;
      position: relative;
      border:  0;
      background-size: cover;
    }

    .hr {
      padding: 0;
      margin: 0;
      border: 0;
    }